// COLORS
$primaryColor: #e2db1a;
$lightColor: #fff;
$darkColor: #000;
$paraColor1: #6f6d70;
$paraColor2: #bdb2c3;
$copyRightsColor: #9c969e;

//Font-Sizes
$xlTxt: 3.75rem;
$lTxt: 2.1875rem;
$mTxt: 1rem;
$sTxt:0.875rem;
$xsTxt:0.75rem;
